body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1057 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1058 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1059 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1060 {
  position:absolute;
  left:82px;
  top:377px;
  width:220px;
  height:60px;
}
#u1061 {
  position:absolute;
  left:2px;
  top:22px;
  width:216px;
  word-wrap:break-word;
}
#u1062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1062 {
  position:absolute;
  left:82px;
  top:437px;
  width:220px;
  height:60px;
}
#u1063 {
  position:absolute;
  left:2px;
  top:22px;
  width:216px;
  word-wrap:break-word;
}
#u1064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1064 {
  position:absolute;
  left:82px;
  top:497px;
  width:220px;
  height:60px;
}
#u1065 {
  position:absolute;
  left:2px;
  top:22px;
  width:216px;
  word-wrap:break-word;
}
#u1064_ann {
  position:absolute;
  left:295px;
  top:493px;
  width:1px;
  height:1px;
}
#u1066 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1067 {
  position:absolute;
  left:172px;
  top:297px;
  width:43px;
  height:16px;
}
#u1068 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#AEAEAE;
}
#u1069 {
  position:absolute;
  left:113px;
  top:332px;
  width:163px;
  height:16px;
  font-size:13px;
  color:#AEAEAE;
}
#u1070 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u1071 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u1072 {
  position:absolute;
  left:157px;
  top:207px;
  width:70px;
  height:70px;
}
#u1073 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u1074 {
  position:absolute;
  left:157px;
  top:207px;
  width:70px;
  height:70px;
}
#u1075 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1076 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1077 {
  position:absolute;
  left:32px;
  top:642px;
  width:320px;
  height:45px;
}
#u1078 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1079 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1080 {
  position:absolute;
  left:180px;
  top:667px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u1081 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1082 {
  position:absolute;
  left:182px;
  top:647px;
  width:20px;
  height:20px;
}
#u1083 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1084 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1085 {
  position:absolute;
  left:96px;
  top:647px;
  width:20px;
  height:20px;
}
#u1086 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1087 {
  position:absolute;
  left:94px;
  top:667px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u1088 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1089 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1090 {
  position:absolute;
  left:274px;
  top:647px;
  width:20px;
  height:20px;
}
#u1091 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1092 {
  position:absolute;
  left:272px;
  top:667px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u1093 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
