body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u413 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u414 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u415 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u416 {
  position:absolute;
  left:42px;
  top:127px;
  width:20px;
  height:20px;
}
#u417 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
}
#u418 {
  position:absolute;
  left:307px;
  top:127px;
  width:35px;
  height:20px;
  font-size:17px;
}
#u419 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u418_ann {
  position:absolute;
  left:335px;
  top:123px;
  width:1px;
  height:1px;
}
#u420 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
}
#u421 {
  position:absolute;
  left:173px;
  top:127px;
  width:35px;
  height:20px;
  font-size:17px;
}
#u422 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u421_ann {
  position:absolute;
  left:201px;
  top:123px;
  width:1px;
  height:1px;
}
#u423_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u423 {
  position:absolute;
  left:208px;
  top:127px;
  width:20px;
  height:20px;
}
#u424 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u425_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u425 {
  position:absolute;
  left:153px;
  top:127px;
  width:20px;
  height:20px;
}
#u426 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u427 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  text-align:left;
}
#u428 {
  position:absolute;
  left:82px;
  top:227px;
  width:220px;
  height:60px;
  font-size:17px;
  text-align:left;
}
#u429 {
  position:absolute;
  left:2px;
  top:20px;
  width:216px;
  word-wrap:break-word;
}
#u428_ann {
  position:absolute;
  left:295px;
  top:223px;
  width:1px;
  height:1px;
}
#u430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  text-align:left;
}
#u430 {
  position:absolute;
  left:82px;
  top:287px;
  width:220px;
  height:60px;
  font-size:17px;
  text-align:left;
}
#u431 {
  position:absolute;
  left:2px;
  top:20px;
  width:216px;
  word-wrap:break-word;
}
#u432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  text-align:left;
}
#u432 {
  position:absolute;
  left:82px;
  top:347px;
  width:220px;
  height:60px;
  font-size:17px;
  text-align:left;
}
#u433 {
  position:absolute;
  left:2px;
  top:20px;
  width:216px;
  word-wrap:break-word;
}
#u434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  text-align:left;
}
#u434 {
  position:absolute;
  left:82px;
  top:407px;
  width:220px;
  height:60px;
  font-size:17px;
  text-align:left;
}
#u435 {
  position:absolute;
  left:2px;
  top:20px;
  width:216px;
  word-wrap:break-word;
}
#u436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
}
#u436 {
  position:absolute;
  left:32px;
  top:642px;
  width:320px;
  height:45px;
  font-size:17px;
}
#u437 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
