body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u65 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u67 {
  position:absolute;
  left:112px;
  top:437px;
  width:220px;
  height:40px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u68 {
  position:absolute;
  left:112px;
  top:477px;
  width:220px;
  height:40px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u69_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u69 {
  position:absolute;
  left:52px;
  top:449px;
  width:57px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u71_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71 {
  position:absolute;
  left:52px;
  top:489px;
  width:57px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u74_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74 {
  position:absolute;
  left:77px;
  top:540px;
  width:100px;
  height:40px;
}
#u75 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u74_ann {
  position:absolute;
  left:170px;
  top:536px;
  width:1px;
  height:1px;
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76 {
  position:absolute;
  left:207px;
  top:540px;
  width:100px;
  height:40px;
}
#u77 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u78 {
  position:absolute;
  left:100px;
  top:207px;
  width:200px;
  height:200px;
}
#u79 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_ann {
  position:absolute;
  left:293px;
  top:203px;
  width:1px;
  height:1px;
}
