body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u627 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u628 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
}
#u629 {
  position:absolute;
  left:32px;
  top:642px;
  width:320px;
  height:45px;
  font-size:17px;
}
#u630 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u631 {
  position:absolute;
  left:42px;
  top:127px;
  width:20px;
  height:20px;
}
#u632 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u633 {
  position:absolute;
  left:80px;
  top:207px;
  width:220px;
  height:50px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u634 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u635 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  text-align:left;
}
#u636 {
  position:absolute;
  left:80px;
  top:303px;
  width:220px;
  height:60px;
  font-size:17px;
  text-align:left;
}
#u637 {
  position:absolute;
  left:2px;
  top:20px;
  width:216px;
  word-wrap:break-word;
}
#u636_ann {
  position:absolute;
  left:293px;
  top:299px;
  width:1px;
  height:1px;
}
#u638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  text-align:left;
}
#u638 {
  position:absolute;
  left:80px;
  top:363px;
  width:220px;
  height:60px;
  font-size:17px;
  text-align:left;
}
#u639 {
  position:absolute;
  left:2px;
  top:20px;
  width:216px;
  word-wrap:break-word;
}
#u640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  text-align:left;
}
#u640 {
  position:absolute;
  left:80px;
  top:423px;
  width:220px;
  height:60px;
  font-size:17px;
  text-align:left;
}
#u641 {
  position:absolute;
  left:2px;
  top:20px;
  width:216px;
  word-wrap:break-word;
}
#u642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  text-align:left;
}
#u642 {
  position:absolute;
  left:80px;
  top:483px;
  width:220px;
  height:60px;
  font-size:17px;
  text-align:left;
}
#u643 {
  position:absolute;
  left:2px;
  top:20px;
  width:216px;
  word-wrap:break-word;
}
