body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1019 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1020 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1021 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1022 {
  position:absolute;
  left:112px;
  top:421px;
  width:220px;
  height:40px;
}
#u1022_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1023 {
  position:absolute;
  left:112px;
  top:461px;
  width:220px;
  height:40px;
}
#u1023_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1024 {
  position:absolute;
  left:52px;
  top:438px;
  width:57px;
  height:16px;
}
#u1025 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1026 {
  position:absolute;
  left:52px;
  top:478px;
  width:57px;
  height:16px;
}
#u1027 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:2px;
}
#u1028 {
  position:absolute;
  left:112px;
  top:453px;
  width:220px;
  height:1px;
}
#u1029 {
  position:absolute;
  left:2px;
  top:-8px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:2px;
}
#u1030 {
  position:absolute;
  left:112px;
  top:493px;
  width:220px;
  height:1px;
}
#u1031 {
  position:absolute;
  left:2px;
  top:-8px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1032 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1033 {
  position:absolute;
  left:77px;
  top:520px;
  width:100px;
  height:40px;
}
#u1034 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1033_ann {
  position:absolute;
  left:170px;
  top:516px;
  width:1px;
  height:1px;
}
#u1035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1035 {
  position:absolute;
  left:207px;
  top:520px;
  width:100px;
  height:40px;
}
#u1036 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u1037 {
  position:absolute;
  left:100px;
  top:187px;
  width:200px;
  height:200px;
}
#u1038 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1037_ann {
  position:absolute;
  left:293px;
  top:183px;
  width:1px;
  height:1px;
}
#u1039 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1040 {
  position:absolute;
  left:32px;
  top:642px;
  width:320px;
  height:45px;
}
#u1041 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1042 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1043 {
  position:absolute;
  left:180px;
  top:667px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u1044 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1045 {
  position:absolute;
  left:182px;
  top:647px;
  width:20px;
  height:20px;
}
#u1046 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1047 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1048 {
  position:absolute;
  left:96px;
  top:647px;
  width:20px;
  height:20px;
}
#u1049 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1050 {
  position:absolute;
  left:94px;
  top:667px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u1051 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1052 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1053 {
  position:absolute;
  left:274px;
  top:647px;
  width:20px;
  height:20px;
}
#u1054 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1055 {
  position:absolute;
  left:272px;
  top:667px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u1056 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
