body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u543_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u543 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u544 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u545_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:569px;
}
#u545 {
  position:absolute;
  left:32px;
  top:117px;
  width:320px;
  height:568px;
}
#u546 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  word-wrap:break-word;
}
#u545_ann {
  position:absolute;
  left:345px;
  top:113px;
  width:1px;
  height:1px;
}
