body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u644 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u645 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u646 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u647 {
  position:absolute;
  left:112px;
  top:417px;
  width:220px;
  height:40px;
}
#u647_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u648 {
  position:absolute;
  left:112px;
  top:457px;
  width:220px;
  height:40px;
}
#u648_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u649 {
  position:absolute;
  left:52px;
  top:429px;
  width:57px;
  height:16px;
}
#u650 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u651 {
  position:absolute;
  left:52px;
  top:469px;
  width:57px;
  height:16px;
}
#u652 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u653 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u654 {
  position:absolute;
  left:77px;
  top:520px;
  width:100px;
  height:40px;
}
#u655 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u654_ann {
  position:absolute;
  left:170px;
  top:516px;
  width:1px;
  height:1px;
}
#u656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u656 {
  position:absolute;
  left:207px;
  top:520px;
  width:100px;
  height:40px;
}
#u657 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u658 {
  position:absolute;
  left:100px;
  top:187px;
  width:200px;
  height:200px;
}
#u659 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u658_ann {
  position:absolute;
  left:293px;
  top:183px;
  width:1px;
  height:1px;
}
#u660 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u661 {
  position:absolute;
  left:32px;
  top:642px;
  width:320px;
  height:45px;
}
#u662 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u663 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u664 {
  position:absolute;
  left:180px;
  top:667px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u665 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u666 {
  position:absolute;
  left:182px;
  top:647px;
  width:20px;
  height:20px;
}
#u667 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u668 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u669 {
  position:absolute;
  left:96px;
  top:647px;
  width:20px;
  height:20px;
}
#u670 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u669_ann {
  position:absolute;
  left:109px;
  top:643px;
  width:1px;
  height:1px;
}
#u671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u671 {
  position:absolute;
  left:94px;
  top:667px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u672 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u673 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u674 {
  position:absolute;
  left:274px;
  top:647px;
  width:20px;
  height:20px;
}
#u675 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u674_ann {
  position:absolute;
  left:287px;
  top:643px;
  width:1px;
  height:1px;
}
#u676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u676 {
  position:absolute;
  left:272px;
  top:667px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u677 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
