body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u639 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u640 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
  background:inherit;
  background-color:rgba(102, 255, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
}
#u641 {
  position:absolute;
  left:32px;
  top:642px;
  width:320px;
  height:45px;
  font-size:17px;
}
#u642 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u641_ann {
  position:absolute;
  left:345px;
  top:638px;
  width:1px;
  height:1px;
}
#u643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u643 {
  position:absolute;
  left:42px;
  top:127px;
  width:20px;
  height:20px;
}
#u644 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u645 {
  position:absolute;
  left:103px;
  top:208px;
  width:174px;
  height:50px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u646 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u647 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  text-align:left;
}
#u648 {
  position:absolute;
  left:80px;
  top:303px;
  width:220px;
  height:60px;
  font-size:17px;
  text-align:left;
}
#u649 {
  position:absolute;
  left:2px;
  top:20px;
  width:216px;
  word-wrap:break-word;
}
#u650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  text-align:left;
}
#u650 {
  position:absolute;
  left:80px;
  top:363px;
  width:220px;
  height:60px;
  font-size:17px;
  text-align:left;
}
#u651 {
  position:absolute;
  left:2px;
  top:20px;
  width:216px;
  word-wrap:break-word;
}
#u652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  text-align:left;
}
#u652 {
  position:absolute;
  left:80px;
  top:423px;
  width:220px;
  height:60px;
  font-size:17px;
  text-align:left;
}
#u653 {
  position:absolute;
  left:2px;
  top:20px;
  width:216px;
  word-wrap:break-word;
}
#u654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  text-align:left;
}
#u654 {
  position:absolute;
  left:80px;
  top:483px;
  width:220px;
  height:60px;
  font-size:17px;
  text-align:left;
}
#u655 {
  position:absolute;
  left:2px;
  top:20px;
  width:216px;
  word-wrap:break-word;
}
#u656 {
  position:absolute;
  left:140px;
  top:313px;
  width:160px;
  height:40px;
}
#u656_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u657 {
  position:absolute;
  left:140px;
  top:373px;
  width:160px;
  height:40px;
}
#u657_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u658 {
  position:absolute;
  left:140px;
  top:433px;
  width:160px;
  height:40px;
}
#u658_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u659 {
  position:absolute;
  left:140px;
  top:493px;
  width:160px;
  height:40px;
}
#u659_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
