body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1060 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1061 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1062 {
  position:absolute;
  left:32px;
  top:117px;
  width:320px;
  height:570px;
  overflow:hidden;
}
#u1062_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:570px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1062_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1063 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1064 {
  position:absolute;
  left:10px;
  top:10px;
  width:20px;
  height:20px;
}
#u1065 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1066 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
}
#u1067 {
  position:absolute;
  left:141px;
  top:10px;
  width:35px;
  height:20px;
  font-size:17px;
}
#u1068 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u1067_ann {
  position:absolute;
  left:169px;
  top:6px;
  width:1px;
  height:1px;
}
#u1069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1069 {
  position:absolute;
  left:176px;
  top:10px;
  width:20px;
  height:20px;
}
#u1070 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1071 {
  position:absolute;
  left:121px;
  top:10px;
  width:20px;
  height:20px;
}
#u1072 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1074 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u1075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:145px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
}
.u1075 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:145px;
}
.u1076 {
  position:absolute;
  left:2px;
  top:64px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1077 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u1078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
.u1078 {
  position:absolute;
  left:10px;
  top:10px;
  width:30px;
  height:30px;
}
.u1079 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
.u1080 {
  position:absolute;
  left:10px;
  top:10px;
  width:30px;
  height:30px;
}
.u1081 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
.u1082 {
  position:absolute;
  left:50px;
  top:10px;
  width:40px;
  height:16px;
  font-size:13px;
}
.u1083 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
.u1084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#BCBCBC;
}
.u1084 {
  position:absolute;
  left:50px;
  top:30px;
  width:103px;
  height:15px;
  font-size:12px;
  color:#BCBCBC;
}
.u1085 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
.u1086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
.u1086 {
  position:absolute;
  left:270px;
  top:15px;
  width:20px;
  height:20px;
}
.u1087 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1088 {
  position:absolute;
  left:10px;
  top:55px;
  width:280px;
  height:80px;
}
.u1089 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u1073-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:145px;
}
#u1073-2 {
  position:absolute;
  left:0px;
  top:145px;
  width:300px;
  height:145px;
}
#u1073-3 {
  position:absolute;
  left:0px;
  top:290px;
  width:300px;
  height:145px;
}
#u1073-4 {
  position:absolute;
  left:0px;
  top:435px;
  width:300px;
  height:145px;
}
#u1073-5 {
  position:absolute;
  left:0px;
  top:580px;
  width:300px;
  height:145px;
}
#u1073 {
  position:absolute;
  left:10px;
  top:40px;
  width:300px;
  height:725px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1090 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:80px;
}
#u1091 {
  position:absolute;
  left:32px;
  top:607px;
  width:320px;
  height:80px;
}
#u1092 {
  position:absolute;
  left:2px;
  top:32px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1093 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1094 {
  position:absolute;
  left:180px;
  top:667px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u1095 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1096 {
  position:absolute;
  left:172px;
  top:627px;
  width:40px;
  height:40px;
}
#u1097 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1098 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1099 {
  position:absolute;
  left:96px;
  top:647px;
  width:20px;
  height:20px;
}
#u1100 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1099_ann {
  position:absolute;
  left:109px;
  top:643px;
  width:1px;
  height:1px;
}
#u1101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1101 {
  position:absolute;
  left:94px;
  top:667px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u1102 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1103 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1104 {
  position:absolute;
  left:274px;
  top:647px;
  width:20px;
  height:20px;
}
#u1105 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1104_ann {
  position:absolute;
  left:287px;
  top:643px;
  width:1px;
  height:1px;
}
#u1106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1106 {
  position:absolute;
  left:272px;
  top:667px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u1107 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1108 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1109 {
  position:absolute;
  left:42px;
  top:372px;
  width:300px;
  height:30px;
}
#u1110 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u1111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1111 {
  position:absolute;
  left:42px;
  top:402px;
  width:300px;
  height:30px;
}
#u1112 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
