body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u788 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u789 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u790 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u791 {
  position:absolute;
  left:72px;
  top:122px;
  width:275px;
  height:30px;
}
#u791_input {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u791_ann {
  position:absolute;
  left:340px;
  top:118px;
  width:1px;
  height:1px;
}
#u792_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u792 {
  position:absolute;
  left:42px;
  top:127px;
  width:20px;
  height:20px;
}
#u793 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u792_ann {
  position:absolute;
  left:55px;
  top:123px;
  width:1px;
  height:1px;
}
#u794_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u794 {
  position:absolute;
  left:322px;
  top:127px;
  width:20px;
  height:20px;
}
#u795 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u796 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:131px;
}
#u797 {
  position:absolute;
  left:42px;
  top:187px;
  width:300px;
  height:130px;
}
#u798 {
  position:absolute;
  left:2px;
  top:57px;
  width:296px;
  word-wrap:break-word;
}
#u797_ann {
  position:absolute;
  left:335px;
  top:183px;
  width:1px;
  height:1px;
}
#u799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u799 {
  position:absolute;
  left:42px;
  top:162px;
  width:57px;
  height:16px;
}
#u800 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u801 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:259px;
}
#u802 {
  position:absolute;
  left:42px;
  top:356px;
  width:300px;
  height:258px;
}
#u803 {
  position:absolute;
  left:2px;
  top:113px;
  width:296px;
  word-wrap:break-word;
}
#u802_ann {
  position:absolute;
  left:335px;
  top:352px;
  width:1px;
  height:1px;
}
#u804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u804 {
  position:absolute;
  left:42px;
  top:327px;
  width:57px;
  height:16px;
}
#u805 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u806 {
  position:absolute;
  left:42px;
  top:614px;
  width:300px;
  height:31px;
}
#u807 {
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  word-wrap:break-word;
}
