body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1014 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1015 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1016 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1017 {
  position:absolute;
  left:42px;
  top:127px;
  width:20px;
  height:20px;
}
#u1018 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1019 {
  position:absolute;
  left:42px;
  top:157px;
  width:305px;
  height:305px;
}
#u1020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u1020 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u1021 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u1022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u1022 {
  position:absolute;
  left:150px;
  top:0px;
  width:150px;
  height:30px;
}
#u1023 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u1024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u1024 {
  position:absolute;
  left:0px;
  top:30px;
  width:150px;
  height:30px;
}
#u1025 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u1026 {
  position:absolute;
  left:150px;
  top:30px;
  width:150px;
  height:30px;
}
#u1027 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u1028 {
  position:absolute;
  left:0px;
  top:60px;
  width:150px;
  height:30px;
}
#u1029 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u1030 {
  position:absolute;
  left:150px;
  top:60px;
  width:150px;
  height:30px;
}
#u1031 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u1032 {
  position:absolute;
  left:0px;
  top:90px;
  width:150px;
  height:30px;
}
#u1033 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u1034 {
  position:absolute;
  left:150px;
  top:90px;
  width:150px;
  height:30px;
}
#u1035 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u1036 {
  position:absolute;
  left:0px;
  top:120px;
  width:150px;
  height:30px;
}
#u1037 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u1038 {
  position:absolute;
  left:150px;
  top:120px;
  width:150px;
  height:30px;
}
#u1039 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u1040 {
  position:absolute;
  left:0px;
  top:150px;
  width:150px;
  height:30px;
}
#u1041 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u1042 {
  position:absolute;
  left:150px;
  top:150px;
  width:150px;
  height:30px;
}
#u1043 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u1044 {
  position:absolute;
  left:0px;
  top:180px;
  width:150px;
  height:30px;
}
#u1045 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u1046 {
  position:absolute;
  left:150px;
  top:180px;
  width:150px;
  height:30px;
}
#u1047 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u1048 {
  position:absolute;
  left:0px;
  top:210px;
  width:150px;
  height:30px;
}
#u1049 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u1050 {
  position:absolute;
  left:150px;
  top:210px;
  width:150px;
  height:30px;
}
#u1051 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u1052 {
  position:absolute;
  left:0px;
  top:240px;
  width:150px;
  height:30px;
}
#u1053 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u1054 {
  position:absolute;
  left:150px;
  top:240px;
  width:150px;
  height:30px;
}
#u1055 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u1056 {
  position:absolute;
  left:0px;
  top:270px;
  width:150px;
  height:30px;
}
#u1057 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u1058 {
  position:absolute;
  left:150px;
  top:270px;
  width:150px;
  height:30px;
}
#u1059 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
