body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u792_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u792 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u793 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u794_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:569px;
}
#u794 {
  position:absolute;
  left:32px;
  top:117px;
  width:320px;
  height:568px;
}
#u795 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  word-wrap:break-word;
}
#u796_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u796 {
  position:absolute;
  left:42px;
  top:127px;
  width:20px;
  height:20px;
}
#u797 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
